<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
<head>
    <meta charset="utf-8" />
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- ACE and its JavaScript mode and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/mode-javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/theme-textmate.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css" />
    <script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/bootstrap-social.css">

    <!--jQuery-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!--ComboBox-->
    <link rel="stylesheet" href="./stylesheets/bootstrap-combobox.css">
    <script src="./javascripts/bootstrap-combobox.js"></script>

    <style>
        html { height: 100%; }
        body { margin: 0; height: 100%; position: relative; }
         /*Height / width / positioning can be customized for your use case.*/
         /*For demo purposes, we make firepad fill the entire browser.*/
        .firepad {
            position: relative;
            width: 100%;
            height: 70%;
        }
        #firepad-container {
            width: 100%;
            height: 100%;
        }
        #output-container {
            margin-left: 2%;
        }
        #output {
            margin-left: 2%;
        }
    </style>
</head>

<body>
    <select id="language" style="margin-left: 10px">
        {% for lang in languages %}
            <option value="{{ lang.code }}">{{lang.name}}</option>
        {% endfor %}
    </select>

    <label class="btn btn-primary" onclick="compile()">
        Compile
    </label>
    <label class="btn btn-primary" onclick="run()">
        Run
    </label>
    <div id="firepad-container"></div>
    <h2 id="output">Output:</h2>
    <h3 id="output-container"></h3>

<!--</div>-->

<script>

    var session;
    function init() {
        //// Initialize Firebase.
        var firepadRef = getExampleRef();
        // TODO: Replace above line with:
        // var firepadRef = new Firebase('<YOUR FIREBASE URL>');
        //// Create ACE
        var editor = ace.edit("firepad-container");
        editor.setTheme("ace/theme/textmate");
        session = editor.getSession();
        session.setUseWrapMode(true);
        session.setUseWorker(false);
        session.setMode("ace/mode/javascript");
        //// Create Firepad.
        var firepad = Firepad.fromACE(firepadRef, editor, {
            defaultText: '// JavaScript Editing with Firepad!\nfunction go() {\n  var message = "Hello, world.";\n  console.log(message);\n}'
        });
    }
    // Helper to get hash from end of URL or generate a random one.
    function getExampleRef() {
        var ref = new Firebase('https://firepad.firebaseio-demo.com');
        var hash = window.location.hash.replace(/#/g, '');
        if (hash) {
            ref = ref.child(hash);
        } else {
            ref = ref.push(); // generate unique location.
            window.location = window.location + '#' + ref.key(); // add it as a hash to the URL.
        }
        if (typeof console !== 'undefined')
            console.log('Firebase data: ', ref.toString());
        return ref;
    }

    function compile() {
        $.post("/compile", {code: session.getValue(), language: $("#language").val()})
            .done(function(data) {
                console.log(data);
                $("#output-container").text("Compile status: " + JSON.parse(data).compile_status);
            })
            .fail(function(data) {
                console.log(data);
                $("#output-container").text("Compilatiion failed!");
            }
        );
    }

    function run() {
        $.post("/run", {code: session.getValue(), language: $("#language").val()})
            .done(function(data) {
                console.log(data);
                data = JSON.parse(data);
                if(data.run_status.status === "AC") {
                    $("#output-container").html(data.run_status.output_html);
                } else if(data.run_status.status === "CE") {
                    $("#output-container").text("Compile Error: " + data.run_status.status_detail);
                } else {
                    $("#output-container").html(data.run_status.output_html);
                }
            })
            .fail(function(data) {
                console.log(data);
                $("#output-container").text("Run operation failed!");
            }
        );
    }

    window.onload = init;
</script>
</body>
</html>